@import url('https://fonts.googleapis.com/css?family=Poppins');
* {
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    position: relative;
    min-height: 100%;
    margin: 0;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background: #25ABD1;
    font-family: 'Poppins';
}
footer p {
    color: #ffffff;
    margin-top: 32px;
}