$colour: rgba(#ffffff, 1);
$post-color: rgba(#25abd1, 1);

#allArticles {
  height: 400px;
  left: 10%;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  padding-left: 5px;
  justify-content: space-between;
  margin: auto;
  text-align: justify;
  text-justify: inter-word;
  font-family: poppins;
}
#allArticles a:hover {
  text-decoration: none !important;
}
#singleArticle {
  position: absolute;
  margin-top: 80px;
  width: 80%;
  height: auto;
  left: 10%;
  text-align: justify;
  text-justify: inter-word;
  font-family: poppins;
}
#contentA {
  width: 100%;
  margin-top: 32px;
  padding: 50px 90px 50px 90px;
  border-radius: 24px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
#pagnation {
  align-items: center;
  margin-top: 340px;
}
.page {
  width: 200px;
  margin: auto;
  text-align: center;
}

button#nextPage {
  background: #00aed5;
  color: white;
  border: none;
}

button#nextPage:disabled {
  background: #c9c9c9;
}

button#prevPage:disabled {
  background: #c9c9c9;
}

button#prevPage {
  background: #00aed5;
  color: white;
  border: none;
}

#articleform {
  position: absolute;
  left: 20%;
  top: 22%;
  border-radius: 28px;
  width: 60%;
  margin: 0 auto;
}

#tagAndButton {
  display: flex;
}

#createArticlesection {
  margin-top: 32px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  background: #ffffff;
  border: none;
}

#title {
  width: 100%;
  height: 60px;
  border: 1px;
  border-bottom: 1px solid#25ABD1;
}

#articleImage {
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
}

#homeImage {
  width: 80%;
}

#authorColor {
  color: #9d3333;
  font-weight: bold;
}

#articleReadTime {
  color: #9d3333;
  font-weight: normal;
}

#description {
  width: 100%;
  height: 60px;
  border: 1px;
  border-bottom: 1px solid#25ABD1;
}

#body {
  width: 100%;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

#post {
  color: $colour;
  background-color: $post-color;
  border-radius: 20px;
  width: 15%;
  height: 40px;
  float: right;
}

.article-box {
  width: 300px;
  height: 320px;
  border-radius: 18px;
  margin: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-overflow: ellipsis;
  background: white;
}

.welcome_msg {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 15px;
}

img#articleImage {
  height: 160px;
}

#welcome_header {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 27px;
  color: #ccc;
}

#cont {
  padding: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 15px;
}

h2 {
  color: fff;
  font-size: 26px;
}

h3 {
  font-size: 16px;
}

#Nav {
  color: #000000;
}

#createArticleButton {
  background: #25abd1;
  border: 1px solid #25abd1;
  cursor: pointer;
  border-radius: 18px;
  color: #ffffff;
}

.react-tagsinput-input {
  width: 100px !important;
}

.react-tagsinput {
  width: 80% !important;
}

#tagstyle {
  border: none;
  color: #000000;
}

section.showbiz {
  background: #425456 no-repeat center center fixed;
  background-blend-mode: overlay;
  background-size: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  margin-bottom: 30px;
}

#textOverlay {
  display: flex;
  justify-content: space-around;
  p {
    color: #393838;
  }
}

ul {
  list-style-type: none;
}

.ql-editor {
  min-height: 600px !important;
  max-height: 600px;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
}

.ql-editor p {
  color: #000000;
}

.btn-group {
  position: absolute !important;
}

.tagsArticle {
  background: #e3e3e8;
  margin-right: 1rem;
}
