$colour: rgba(#FFFFFF, 1);
$post-color: rgba(#25ABD1, 1);

#allArticles{
  height: 70px;
  left: 10%;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  padding-left: 5px;
  justify-content: space-between;
  margin: auto; 
  text-align: justify;
  text-justify: inter-word;
  font-family: poppins;
}
#allArticles a:hover{
  text-decoration: none !important;
}
#singleArticle{
  position: absolute;
  margin-top: 80px;
  width: 80%;
  height: auto;
  left: 10%;
  text-align: justify;
  text-justify: inter-word;
  font-family: poppins;
 
}
#contentA{
  width: 100%;
  margin-top: 32px;
  padding:50px 90px 50px 90px;
  border-radius: 24px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}
#articleform{
  position: absolute;
  left: 20%;
  top: 22%;
  border-radius: 28px;
  width:60%;
  margin:0 auto;
}
#tagAndButton{
  display: flex;


}
#createArticlesection{
  margin-top: 32px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  background: #FFFFFF;
  border: none;
}
#title{
  width: 100%;
  height: 60px;
  border: 1px;
  border-bottom: 1px solid#25ABD1;
}
#articleImage{
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
}
#homeImage{
  width: 80%;
}
#authorColor{
  color: #9D3333;
  font-weight: bold;

}
#articleReadTime{
  color: #9D3333;
  font-weight: normal

}

#description{
  width: 100%;
  height: 60px;
  border: 1px;
  border-bottom: 1px solid#25ABD1;
}
#body{
  width: 100%;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
    }
#post{
  color: $colour;
  background-color: $post-color;
  border-radius: 20px;
  // left: 90%;
  width: 15%;
  height: 40px;
  float: right;
}
.article-box {
  width: 300px;
  height: 320px;
  border-radius: 18px;
  margin: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-overflow: ellipsis;
  background: white;
}
.welcome_msg{
  font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 15px;


}

img#articleImage{
  
    height: 160px;
}
#welcome_header{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 27px;
  color: #ccc;
}
#cont{
  padding: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 15px;
}
h2 {
    color:fff;
    font-size: 26px;
}
h3 {
  font-size: 16px;
}
#Nav {
    color: #000000;
}
#createArticleButton {
  background: #25ABD1;
  border: 1px solid #25ABD1;
  cursor: pointer;
  border-radius: 18px;
  color: #FFFFFF;
}
.react-tagsinput-input {
  width: 100px !important;
}

.react-tagsinput {
  width: 80% !important;
}
#tagstyle{
  width: 10% !important;
  border: none;
  color: #000000;

}
section.showbiz{
  background:#425456 no-repeat center center fixed;
  background-blend-mode: overlay;
  background-size: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  margin-bottom: 30px;
}
#textOverlay{
  display: flex;
  justify-content: space-around;

  p{
    color: #393838;
  }

}

ul {
  list-style-type: none;
  }
.ql-editor{
  min-height: 600px !important;
  max-height: 600px;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
}
.ql-editor p{
  color: #000000;
}
#comment_form{
  font-family: Poppins;
  font-size: 14px;
  width: 100%;
  display: flex;
  margin: 50px 0px 50px 0px;
}
textarea{
  width: 90%;
  margin-right: 20px;
  padding-left: 60px;
  border: none; 
  border-radius: 16px;
  box-shadow: 0px 4px 10px #ccc;
  font-style: normal;
  font-weight: normal;
  line-height:43px;
  font-size: 14px;
  resize: none;
  overflow-y: scroll;
}
.comment_button, .comment_update_button{
  width: 11%;
  height: 43px;
  background: #25abd1;
  box-shadow: 0px 4px 4px rgba(16, 12, 210, 0.25);
  border-radius: 16px;
  color: #ffffff;
  outline:none;
  border: none;
}
.comment_button:focus{
  outline: none;
}
.comment_button:hover{
  cursor: pointer;
}
textarea:focus{
  outline: none;
}

#comment_on_comment{
  width: 100%;
  height: 57px;
  line-height: 60px;
  padding-left:0px;
  box-shadow: none;
  margin: -30px 0 90px 0;
}
#wrong_input{
  width: 100%;
  text-align: center;
  position: absolute;
  top:-30px;
  color: red;
  font-size: 16px;
}
#comment_form_container{
  position: relative;
}
#reply_comment{
  position: absolute;
  top: 60px;
  right: 2px;
  text-align: center;
  width: 5%;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 15px;
  color: #100CD2;
}
#reply_comment a:hover{
  text-decoration: none;
}
#getCommentId{
  position: relative;
  width: 100%;
  padding-left: 5px;
  color: #000000;
  font-size: 15px;
  background-color: #FFFFFF;
  border-radius:16px; 
  line-height: auto;
}
#getCommentdiv{
  width: 100%;
  color: #000000;
  font-size: 15px;
  background-color: #FFFFFF;
  border-radius:16px; 
  margin-bottom: 40px;
}
i{
  position: relative;
  top:10px;
  width: 3%;
  left: 10px;
}
.editDiv{
  position: relative;
  width: 10%;
  top: -6px;
  left: 55px;
}
.editDiv a{
  padding-right: 16px;
  padding-bottom: 16px;
}
.editDiv a:hover{
  text-decoration: none;
}
.deleteLink{
  color: red;
}
.deleteLink:hover{
  color: red;
}
label{
  margin: 30px 0px 10px 50px;
  padding-right: 20px;
}
#spanId{
  position: relative;
  top: 8px;
  width: 3%;
  left: 10px;
}
.editComment{
  border: 1px solid #25ABD1;
  border-radius: 3px;
  margin-left:50px;
  padding-left: 10px;
  box-shadow: none;
}
.comment_update_button{
  width: 6%;
  margin-left: 60px;
  margin-bottom: 30px;
  margin-top:10px;
}
.editLink{
  color: #25ABD1;
}
.icon_color{
  color: #25ABD1;
}