$colour: rgba(#3f51b5, 1);
$label-color-1: rgba(#3f51b5, 1);
$color-alert: #b71c1c;

.body {
  background-color: #f4f4f4;
}
.page-wrapper {
  background-size: auto;
  margin: 0;
  margin-top: 5em;
  min-height: 100vh;
  padding: 0;
}

.wrapper--680 {
  max-width: 680px;
}

.wrapper {
  margin: auto;
}

.header {
  background-color: $colour;
  // color: #ffffff;
  padding: 1em;
}

label {
  color: $label-color-1;
}

.btn-link {
  color: $colour;
}

.btn-primary {
  background-color: $colour;
}

.dv-star-rating-star.dv-star-rating-empty-star {
  padding-right: 1rem;
}

.dv-star-rating-star.dv-star-rating-full-star {
  padding-right: 1rem;
}

.dv-star-rating-star.dv-star-rating-empty-star i {
  font-size: 1.5rem;
  color: white;
  text-shadow: -1px 0 #25abd1, 0 1px #25abd1, 1px 0 #25abd1, 0 -1px #25abd1;
}

.dv-star-rating-star.dv-star-rating-full-star i {
  font-size: 1.5rem;
  color: #25abd1;
}

.ratings-view {
  padding-left: 60%;
}

.dv-star-rating-star.dv-star-rating-empty-star i:hover::before {
  color: #000000;
  content: 'you can only rate once';
  font-size: 12px;
  margin-top: 45px;
  position: absolute;
  white-space: nowrap;
}
