.reset {
    text-align: center;
}

p{
    font-size: 1em;
}

.email-form input{
    border: 0;
    width: 80%;
    height: 10%;
    left: 266px;
    top: 324px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(37, 171, 209, 0.25);
    border-radius: 12px
}

.email-form{
    background: #ffffff;
    
    margin: auto;
    width: 539px;
    height: 455px;
    top: 208px;
    box-shadow: 0px 4px 10px rgba(37, 171, 209, 0.15);
    border-radius: 18px;
}

#submit-btn {
    background: #25ABD1;
    box-shadow: 0px 4px 4px rgba(16, 12, 210, 0.25);
    border-radius: 12px;
    color: #ffffff;
}

#reset_email {
    margin-top: 20%;
}

#submit-btn:hover{
    cursor: pointer;
    color: #25abd1;
    background: #ffffff;
    transition: 0.7s;
    border: 1px solid #25abd1;
}

#cancel-btn{
    cursor: pointer;
    color: #000000;
    border: 1px solid #000000;
    background: #ffffff;
    width: 362px;
    border-radius: 18px;
    height: 10%;
    margin-top: -150%;
    z-index: 1;
}
